*{

    margin: 0;
    padding: 0;
}

body{

    background: rgb(217,160,160);
    background: radial-gradient(circle, rgba(217,160,160,1) 15%, rgba(242,242,242,1) 100%);
    height: 100%;
}


.avatar{

    width: 80px;
    border-radius: 50%;
    border: 4px solid #A6A6A6;
    box-shadow:white;
    margin-top: 10px;
    
    
}

.Profile{

    text-align: center;
}

h1{

    font-family: 
    font-size: 25px;
    color: #BF787E;
}
h2{

    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: #737373;


}

.links{
    list-style: none;
    text-align: center;

}

.links li{


padding: 5px 20px;
margin-top: 10px;
    
}
.links li a{

   text-decoration:transparent;
   background-color: #fff;
   border-radius: 50px;
   padding: 10px;
   margin-bottom: -8px;
   display: block;
   color: #BF787E;
   font-weight: bold;

}
.links li a span{

    color: #737373;
    display: block;
   
}
 .social{

    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 30px 0;
 }

 .social img{

    width: 33px;
   
 }

 .youtube{

    margin: 10px 10px;
    text-align: center;
 }
  
    









